body {
    margin: 0;
    overflow: hidden;
    background-color: #000; /* Dark background for the night sky */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fireworksCanvas {
    background-color: transparent; /* Transparent background for the canvas */
}